{% extends 'base.html' %}
{% block content %}
<h2>@{{username}}'s tweets:</h2>
<ul id="timeline">
{% for tweet in tweets %}
  <li>
    {{tweet.text|urlize|urlize_ats}}
    <br/><span class="permalink">-- <a href="http://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id}}">{{tweet.created_at|format_tweet_time}}</a></span>
  </li>
  {% if loop.last %}
    <a href='/{{username}}/{{tweet.id}}'>next</a>
  {% endif %}

{% endfor %}
</ul>
{% if status != 200 %}
	{% if status == 400 %}
	Twitter may be down. Try again in a bit.
	{% else %}
	{% if status == 401 %}
	Looks like @{{username}}'s tweets are protected.
	{% else %}
	Something is broken.
	{% endif %}{% endif %}
{% endif %}
{% endblock %}
